html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top by header height */
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background-color: #DADADA;
  
}

.device{
	height: 740px;
}

ul {list-style:none; margin:0; padding:0;}
li {float:left; display:block; margin:0; padding:0 5px; border-left:#ccc solid 1px;} 
li:first-child {border-left:0}
a {color:#64717F;}
.settings{
	height: 200px;
}
.battery{
	height: 250px;
}
.storage{
	height: 250px;
}
.apps{
	height: 245px;
}
.container-fluid{background-color: #364659 !important; color: #fff;}
.connected{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -12px;}
    .disconnected{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -15px;}
    .logout{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -28px;
  }
  .settingPanel1{

  }
  .set-height{
    height: 81.5px;
    padding: 10px;
  }
.col-md-3{
  border: none;
}

.col-border {
    border: 1px solid #ccc;
}