html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin top by header height */
  margin-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  background-color: #DADADA;
  
}

.device{
	height: 660px;
}

ul {list-style:none; margin:0; padding:0;}
li {float:left; display:block; margin:0; padding:0 5px; border-left:#ccc solid 1px;} 
li:first-child {border-left:0}
a {color:#64717F;}
.settings{
	height: 150px;
}
.battery{
	height: 225px;
}
.storage{
	height: 225px;
}
.apps{
	height: 245px;
}
.container-fluid{background-color: #364659 !important; color: #fff;}
.connected{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -12px;}
    .disconnected{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -15px;}
    .logout{color: inherit;
    float: right;
    font-size: 13px;
    margin-bottom: 0;
    margin-top: -28px;}
    .settingPanel1{}
