<section class="col-md-6" ng-controller="deviceCtrl">

<div class="panel panel-default panel-primary device" id="device">
  <div class="panel-heading">
    <h3 class="panel-title">Device</h3>

    <h3 class="disconnected"><img src="images/Disconnected.png" style="margin-bottom: 2px;" /> Disconnected</h3>
    <h3 class="connected" style="display: none;">Connected</h3>
  </div>
  <div class="panel-body">
    <div><strong>Samgsung Galaxy s6</strong></div>
    <ul>
    <li><span>SM-G920V</span></li>
    <li><span>Andriod6.0</span></li>
    <li><span>App Version: Marshmellow</span></li>
    </ul>
    <hr/>
    <section class="col-md-6">
      
      

    {{device}}
    <img class="PhoneScreen" src="images/PhoneScreen.png">

    </section>
    <section>Tools
    <hr/>

    </section>
    <section>Quick Links
    <hr/>

    </section>


     <section class="col-md-6" style="background-color: #7A9BB8; float: right;">
    <div class="row" style="float:right;">
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Settings.png" />Settings</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Pictures.png" />Pictures</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Home.png" />Home</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Wifi.png" />Wifi</div>
  </div>
<div class="row" style="float:right;">
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Bluetooth.png" />Bluetooth</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/Privacy.png" />Privacy</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Notification.png" />Notification</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Usage.png" />Usage</div>
  </div>
<div class="row"style="float:right;">
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Display.png" />Display</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff;"><img src="images/Sync.png" />Sync</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/Storage.png"/>Storage</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/Battery.png" />Battery</div>
  </div>
<div class="row"style="float:right;">
    <div class="col-sm-3" style="background-color:#7A9BB8;color: #fff;"><img src="images/Applications.png"/>Applications</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/NFC.png" />NFC</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/Updates.png" />Updates</div>
    <div class="col-sm-3" style="background-color:#7A9BB8; color: #fff; "><img src="images/Backup.png" />Backup</div></div></section>


    


  </div>
</div>



</section>

<section class="col-md-6"> 


<!-- Settings Panel -->
<section class="row" ng-controller="settingsCtrl">
<div class="col-md-12">
<div class="panel panel-default panel-primary settings" id="settings">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  <!--
  <div class="col-md-12">
  <div class="col-md-3"> 
  <img src="images/Auto Rotate.png" style="padding: 10px;" /> Auto Rotate
  </div>
  <div class="col-md-3">
  <img src="images/GPS.png" style="padding: 10px;" /> GPS 
  </div>
  <div class="col-md-3"> 
  <img src="images/Sync Data.png" style="padding: 10px;"/> Sync.Data
  </div>
  <div class="col-md-3"> <img src="images/Mobile Data.png" style="padding: 2px;" /> Mobile Data
  </div>
  </div>

  <div class="col-md-12">
  <div class="col-md-4"><img src="images/Wifi Settings.png" />
  <label>Wifi <img src=""></label>

  <div><label>View More:</label>
  
  <select><option>5</option></select>
  </div>

  </div>
  <div class="col-md-4"><img src="images/Bluetooth Settings.png" />Bluetooth<div><label>Connected:</label>
  
  <select><option>Handsfree</option></select>
  </div></div>
  <div class="col-md-4"><img src="images/Brightness Settings.png" />Brightness:</div>
  </div>-->
  <div class="panel-body" style="">
    <div>Samgsung Galaxy s6</div>
    {{settings}}
  </div>
</div>
</div>
</section>



<section class="row">
<!-- Battery History panel -->
<div class="col-md-6" ng-controller="batteryCtrl">
<div class="panel panel-default panel-primary battery" id="battery">
  <div class="panel-heading">
    <h3 class="panel-title">Battery History</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{battery}}
  </div>
</div>

</div>
<!-- Storage panel -->

<div class="col-md-6" ng-controller="storageCtrl">
<div class="panel panel-default panel-primary storage" id="storage">
  <div class="panel-heading">
    <h3 class="panel-title">Storage</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{storage}}
  </div>
</div>
</div>
</section>


<section class="row" ng-controller="appsCtrl">
<!-- Apps panel -->
<div class="col-md-12">
<div class="panel panel-default panel-primary apps" id="apps">
  <div class="panel-heading">
    <h3 class="panel-title">Apps</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{apps}}
  </div>
</div>
</div>
</section>

</section>