<section class="col-md-6" ng-controller="deviceCtrl">

<div class="panel panel-default panel-primary device" id="device">
  <div class="panel-heading">
    <h3 class="panel-title">Device</h3>

    <h3 class="disconnected"><img src="images/Disconnected.png" style="margin-bottom: 2px;" /> Disconnected</h3>
    <h3 class="connected" style="display: none;">Connected</h3>
  </div>
  <div class="panel-body">
    <div><strong>Samgsung Galaxy s6</strong></div>
    <ul>
    <li><span>SM-G920V</span></li>
    <li><span>Andriod6.0</span></li>
    <li><span>App Version: Marshmellow</span></li>
    </ul>
    <hr/>
    <img class="PhoneScreen" src="images/PhoneScreen.png">
  </div>
</div>

</section>

<section class="col-md-6"> 


<!-- Settings Panel -->
<section class="row" ng-controller="settingsCtrl">
<div class="col-md-12">
<div class="panel panel-default panel-primary settings" id="settings">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  
    <div class="col-md-3 col-border set-height">
    <div class="col-md-3"> 
    <img src="images/Auto Rotate.png"  /> 
    </div>
    <div class="col-md-9">Auto Rotate
         <div> <input type="radio"></input></div> 
</div>
  </div>
  <div class="col-md-3 col-border set-height">
    <div class="col-md-3">
    <img src="images/GPS.png" />
    </div>
    <div class="col-md-9">
     GPS
     <div> <input type="radio" checked="checked"></input></div> 
     </div>
  </div>
  <div class="col-md-3 col-border set-height"> 

  <div class="col-md-3">
    <img src="images/Sync Data.png" />
    </div>
    <div class="col-md-9">
     Sync.Data 
          <div> <input type="radio"></input></div> 

     </div>

  </div>

  <div class="col-md-3 col-border set-height"> 
  <div class="col-md-3">

    <img src="images/Mobile Data.png" /> 
        </div>
    <div class="col-md-8">

    Mobile Data
         <div> <input type="radio"></input></div> 

  </div>
</div>

  <div class="col-md-4 col-border set-height">
<div class="col-md-3">
  <img src="images/Wifi Settings.png" />
  </div>
  <div class="col-md-9">
    <div>Wifi <input type="radio" checked="checked" class="pull-right"></input> 
</div> 
    <div> Connected: 2WIRE407</div>
  <label>View More:</label>
  
  <select><option>5</option></select>
  </div>
</div>
  
  <div class="col-md-4 col-border set-height">
<div class="col-md-3">

    <img src="images/Bluetooth Settings.png" />
  </div>
  <div class="col-md-9">
    <div>
    Bluetooth <input type="radio" checked="checked" class="pull-right"></input></div>

    <div>Connected: Handsfree</div>
    </div>
    </div>
  <div class="col-md-4 col-border set-height">
<div class="col-md-3">

    <img src="images/Brightness Settings.png" />
  </div>
  <div class="col-md-9">
    Brightness: <label class="pull-right"> Auto </label> <input type="radio" class="pull-right"> 
    <div><input type="range" /></div>
  </div>
</div>
</div>
</section>



<section class="row">
<!-- Battery History panel -->
<div class="col-md-6" ng-controller="batteryCtrl">
<div class="panel panel-default panel-primary battery" id="battery">
  <div class="panel-heading">
    <h3 class="panel-title">Battery History</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{battery}}
  </div>
</div>

</div>
<!-- Storage panel -->

<div class="col-md-6" ng-controller="storageCtrl">
<div class="panel panel-default panel-primary storage" id="storage">
  <div class="panel-heading">
    <h3 class="panel-title">Storage</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{storage}}
  </div>
</div>
</div>
</section>


<section class="row" ng-controller="appsCtrl">
<!-- Apps panel -->
<div class="col-md-12">
<div class="panel panel-default panel-primary apps" id="apps">
  <div class="panel-heading">
    <h3 class="panel-title">Apps</h3>
  </div>
  <div class="panel-body">
    <div>Samgsung Galaxy s6</div>
    {{apps}}
  </div>
</div>
</div>
</section>

</section>